@charset "UTF-8";

label,p,h1,h2,h3,h4,h5,h6 {
    color: whitesmoke;
}

body {
    background-color: rgb(20,20,30);
    
    margin: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: rgb(30,30,35);
    width: auto;
        max-width: 700px;
    height: auto;
        min-height: 190px;
    box-sizing: border-box;
        padding: 20px;
    border-radius: 6px;
}
.form .label {
    font-size: 24px;
    font-family: Calibri;
}
.form .inputHolder {
    display: flex;
}
.form .inputHolder .decoration {
    background-color: rgb(170,150,250);
    width: 3px;
    height: auto;

    border-radius: 6px;
}
.form .inputHolder .input {
    position: relative;

    width: 80%;
    height: 29px;
    outline: none;
    box-sizing: border-box;
        padding: 0px 10px;
        border: none;
    border-radius: 3px;  
    
    font-size: 16px;

    margin-left: 6px;
}
.form .submit {
    position: relative;

    background-color: rgb(170,150,250);
    width: 80px;
    height: 28px;
    padding: 0px;
    border: none;
    border-radius: 18px;

    flex: 0 0 auto;

    cursor: pointer;

    transform: scale(1.0);
    transition: transform 150ms linear, background-color 150ms linear;
    
    overflow: hidden;

    margin: auto 0 0 auto;
}
.form .submit:disabled {
    background-color: rgb(100,100,100);

    cursor: auto;

    color: rgb(160,160,160);
}
.form .submit:enabled:hover {
    background-color: rgb(250,250,250);
    transform: scale(1.1);
}
.form .submit .decoration {
    position: relative;
    left: 0%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: 300ms left ease-in-out;
}
.form .submit .decoration:nth-child(2) {
    top: -100%;
    left: 100%;
}   
.form .submit:enabled:hover .decoration {
    left: -100%;
}
.form .submit:enabled:hover .decoration:nth-child(2) {
    left: 0%;
}