body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(6,10,12);
    width: 100%;
    height: 100vh;

    margin: 0px;
}

div {
    background-clip: text;
    -webkit-background-clip: text;

    background-image: linear-gradient(50deg,yellow 5%,rgb(215, 15, 50),rgb(255, 255, 0));
}

.title {
    font-family: Verdana;
    font-size: 26px;
    font-weight: bold;
    color: transparent;

    user-select: none;
}